<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <div class = "container">
        <div class = "row">
          <div class="col-md-12 col-sm-12 heading">
              <!-- <div class = "heading"> -->
        <h1>To Do App</h1>
    <!-- </div> -->

        <form action="/add" method="post">
            <div class = "formStyleMarginTop">
                <label>Todo Title</label>
                <input class = "todoTitleInput" type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
            <button class="btn btn-primary formStyleMarginTop" type="submit">Add</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="todoItems">
            <p class="todoInfo">{{todo.id }} | {{ todo.title }}</p>

            {% if todo.complete == False %}
            <span class="btn btn-secondary">Not Complete</span>
            {% else %}
            <span class="btn btn-success">Completed</span>
            {% endif %}
        
            <a class="btn btn-success" href="/update/{{ todo.id }}">Update</a>
            <a class="btn btn-danger" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
    </div>
    </div>
</body>

</html>